config SYSTEM_CFENGINE
	tristate "cfengine"
	default n

if SYSTEM_CFENGINE

config SYSTEM_CFENGINE_PROGNAME
	string "Program name"
	default "cf-agent"

config SYSTEM_CFENGINE_PRIORITY
	int "cfengine task priority"
	default 100

config SYSTEM_CFENGINE_STACKSIZE
	int "cfengine stack size"
	default DEFAULT_TASK_STACKSIZE

endif
